@page
@model GetModel
@{
    ViewData["Title"] = "Post";
}

<div class="text-center">
    <h1 class="display-4">Get Results</h1>
</div>
<div>
    <textArea  class ="container-fluid">@ViewData["Message"]</textArea>
</div>
