@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<form class="form-inline" method="post">
    <div class="form-group mb-2">
        <label for="urlAddress"> Url Address for the Get : </label>
        <input type="text" class="form-control" style="width: 250px;" id="urlAddress" name="urlAddress" value="http://testrigapi/Command"><br><br>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Get</button>
</form>

